h1{
	color: rgb(133, 193, 233 );

}
h1
{
	font-size: 70px;
}
h2
{
	font-size: 40px;
}
span
{
	font-size: 2.0em
}
p{
	font-family: arial;
}
p{
	font-size: 2.0em
}
body
{
	background-color: rgb(234, 242, 248 );
}
.mid{
	margin-top: 50%;
}